{% extends 'layout.html' %}

{% block head %}
<title> İlan Sitesi </title>
{% endblock head %}

{% block body %}
<br><br><br><br>

<style>
    h1 {
        font-size: 50px;
    }

    body::-webkit-scrollbar {
        width: 12px;
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: #ff0f7b;
        border-radius: 6px;
      }
      
</style>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="text-align: center;">
                <h3>
                    KARATAS <br>
                    STUDIO
                </h3>
                <br>
                <h1>
                    Kaliteli <br>
                    Roblox Oyun <br>
                    Geliştiriciliği
                </h1>
                <br><br>
                <a href="/kategoriler"> <button class="btnbtn"> Oyunlara Git <i class="fa-solid fa-arrow-right"
                            style="margin-left: 10px; color: black"></i> </button> </a>
            </div>
            <br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" style="text-align: center;">
            <h1 style="font-size: 50px;">
                Karatas Studio <br> <span style="color:#ff0f7b"> Kalitesi </span>
            </h1>

            <br><br><br>

            <p style="font-size: 19px;"> Deneyimli geliştirici ekibimiz, kaliteli tasarımcılarımız, <br> alanında uzman modelcilerimiz ile <br> en kaliteli roblox oyunlarını geliştiriyoruz. </p>

            <br>

            <a href="/kategoriler"> <button class="btnbtn"> Oyunlara Git <i class="fa-solid fa-arrow-right"
                        style="margin-left: 10px; color: black"></i> </button> </a>

            <br><br><br><br>

            <h4 style="color: #ff0f7b;"> Farkımız tarzımızdır </h4>
            <i class="fa-solid fa-arrow-down" style="color: #ff0f7b;"></i>

            <br><br><br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img class="imgg" src="../static/images/1.png" alt="">

        </div>
        <div class="col-sm">
            <br><br><br>
            <h1 style="color: #ff0f7b;"> En iyi oyunlardan en iyi ürünler </h1>
            <br><br>
            <h4>
                En popüler oyunlardan en iyi <br> oyunları keşfedin. Robloxtan, <br> Minecrafta aklınıza gelen herşey...
            </h4>

            <br>

            <a href="/kategoriler"> <button class="btnbtn"> İnceleyin <i class="fa-solid fa-arrow-right"
                        style="margin-left: 10px; color: black"></i> </button> </a>

        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-sm">
            <img class="imgg" src="../static/images/2.png" alt="">

        </div>
        <div class="col-sm">
            <br><br><br>
            <h1 style="color: #ff0f7b;"> Roblox oyun <br> içi ürünler </h1>
            <br><br>
            <h4>
                Roblox oyun içi ürün satışları ile <br> başka hiçbir yerde bulamayacağınız <br> roblox ürünlerini
                keşfedin.
            </h4>

            <br>

            <a href="/kategoriler"> <button class="btnbtn"> İnceleyin <i class="fa-solid fa-arrow-right"
                        style="margin-left: 10px; color: black"></i> </button> </a>

        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-sm">
            <img class="imgg" src="../static/images/3.png" alt="">

        </div>
        <div class="col-sm">
            <br><br><br>
            <h1 style="color: #ff0f7b;"> iletişim </h1>
            <br><br>
            <h4>
                Bize <span style="color: blueviolet;"> discord.gg/itemmağaza </span> üzerinden ulaşabilirsiniz.
            </h4>

            <br>

            <a href="/kategoriler"> <button class="btnbtn"> İnceleyin <i class="fa-solid fa-arrow-right"
                        style="margin-left: 10px; color: black"></i> </button> </a>

        </div>
    </div>
    <br><br><br><br><br>
    <div class="row">
        <div class="col-sm" style="text-align: center;">
            <h1> Müşterilerimizden <br> Mesajlar </h1>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-sm">
            <br>
            <h4 style="color: #ff0f7b;">
                Roblox ürün <br> satın alan
            </h4>
            <br>
            <h5>
                Pet smilator oyunu içinde pet aldım ve çok memnunum. Güvenilir ve kaliteliler.
            </h5>
            <br><br>
            <h5>
                –Roblox, Ömer
            </h5>
        </div>
        <div class="col-sm">
            <br>
            <h4 style="color: #ff0f7b;">
                Roblox ürün <br> satın alan
            </h4>
            <br>
            <h5>
                Pet smilator oyunu içinde pet aldım ve çok memnunum. Güvenilir ve kaliteliler.
            </h5>
            <br><br>
            <h5>
                –Roblox, Ömer
            </h5>
        </div>
        <div class="col-sm">
            <br>
            <h4 style="color: #ff0f7b;">
                Roblox ürün <br> satın alan
            </h4>
            <br>
            <h5>
                Pet smilator oyunu içinde pet aldım ve çok memnunum. Güvenilir ve kaliteliler.
            </h5>
            <br><br>
            <h5>
                –Roblox, Ömer
            </h5>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="row">
        <div class="col-sm">
            <h1> Bize Mesaj <br> Gönderin </h1>
        </div>
        <div class="col-sm">
            <br><br><br><br>
            <h5 style="color:#ff0f7b"> erenxxkrsxx@gmail.com </h5>
        </div>
    </div>
</div>

<br><br><br><br>


<style>
    .btnbtn {
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        font-size: 19px;
        background-color: #ff0f7b;
        color: white;
    }

    @media screen and (max-width: 600px) {
        .imgg {
            height: 300px;
        }

        h1 {
            font-size: 30px;
        }
    }
</style>


{% endblock body %}